{
    "extends": "standard",
    "plugins": [
        "standard",
        "promise",
        "flowtype"
    ],
    "rules": {
        "flowtype/require-parameter-type": 2
    },
    "parser": "babel-eslint"
}